<ion-header [translucent]="true">   <ion-toolbar>     <ion-buttons slot="start">       <ion-menu-button></ion-menu-button>     </ion-buttons>     <ion-title>Commandes</ion-title>   </ion-toolbar> </ion-header>
<ion-content>

<img src="../assets/img/testi.jpg" 
style="width: 105px;
       height: 105px;
       margin-left: 135px;
       margin-top: 15px;
       overflow:hidden;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:50px;">

<h1 style="opacity: 50%; text-align: center;">Jérémy Antonini</h1>

    <ion-Card style="margin-bottom: 0;float: left; width: 70px; margin-left: 70px;">

    <p style="padding-left: 15px ;">Passé</p>
    <ion-progress-bar type="indeterminate" reversed="true"></ion-progress-bar>
</ion-Card>
<ion-Card style="margin-bottom: 0; float: right; width: 70px; margin-right: 70px;" href=".\commandes2">
    <p style="padding-left: 8px;">En cours</p>
    <ion-progress-bar type="indeterminate" reversed="true"></ion-progress-bar>
</ion-Card>

<h1 style="margin-top: 300px; margin-left: 60px;">Aucunes Commandes</h1>

    
</ion-content>