ion-content {
    color: white;
    --ion-background-color: linear-gradient(#04CBFD, #8FFE9F);
}
ion-item {
    --ion-background-color: transparent!important;

}

img.img {
    border-radius:15px;
}
.titre {
    color: black;
    padding-left: 130px;
}

.logo {
    opacity: 0,5;
}