<ion-menu side="start" menuId="first" contentId="main">
  <ion-header>
    <ion-toolbar color="white">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <div class="logo">
        <img src="../assets/img/dbleu.png" style="
        width: 150px;
        height: 200px;
       margin-left:75px;
       margin-bottom: 4px;"></div>
      <ion-item style="padding-bottom: 2em;" href=".\accueil">Accueil</ion-item>
      <ion-item style="padding-bottom: 2em;" href=".\categories">Catégories</ion-item>
      <ion-item style="padding-bottom: 2em;" href=".\commandes">Commandes</ion-item>
      <ion-item style="padding-bottom: 2em;" href=".\profil">Profil</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-router-outlet id="main"></ion-router-outlet>
