<ion-header [translucent]="true">   <ion-toolbar>     <ion-buttons slot="start">       <ion-menu-button></ion-menu-button>     </ion-buttons>     <ion-title>En Cours</ion-title>   </ion-toolbar> </ion-header>
<ion-content style="--background: url(../../assets/img/map.jpg) no-repeat center/cover fixed;
filter : blur(5px);">


</ion-content>
<ion-Card style="height: 150px;"><h1 style="padding-left: 8px;">Aucune commande en cours</h1>
<ion-button style="padding-left: 85px; margin-top: 13px" href=".\accueil">Faire une recherche</ion-button>
</ion-Card>
